<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
<div th:fragment="header">
<div class="row justify-content-center" style="color:white ;background-color: #0099ff;text-align: center;">
    <h1><strong>Pay My Buddy</strong></h1>
</div>

</div>

</body>
</html>